body,textarea,input {
  font:13px "Trebuchet MS", sans-serif;
}

.chat {
  max-width: 300px;
}

.txtArea,.messages,.chatName {
  border:1px solid #bbb;
}

.messages {
  width: 100%;
  height:300px;
  overflow-y: scroll;
  padding:10px;
}

.chatName {
  width: 100%;
  padding:10px;
  border-bottom: 0;
  margin:0;
}

.txtArea {
  width: 100%;
  padding:10px;
  border-top:0;
  margin:0;
  max-width: 100%;
}

.status {
  color:#bbb;
}

.chatName, .txtArea {
  outline:none;
}
.msg {
  margin-bottom: 10px;
}

.msg span {
  color:#3498db;
}
