*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


.container-fluid{
    padding-left: 0px;
}

.page-header {
    background-color:#4D4D4D;
    border:#4D4D4D;
    margin-top:0px;
    margin-bottom:0px;  
    padding:20px 10px 20px 10px;
    box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    margin-right:15px;
}

.form-inline label{
    color:white;
}

.page-header h3{
    color:white;margin:0
}

.logo {
    height:36px;
    width:36px;
}

#roompath{
    width:100%;
}
.chat-area {
    margin-right:0px;
}

.chat-area, .chat-container, .userlist-container, .user_box{
    height:500px;
}

#my-id {
  font-weight: bold;
}

body{
    background-color:#e6f5fc;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    /*margin-right: 5px;*/
}

.panel-body
{
    overflow-y: scroll;
    
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}




.btn-sm{
        border-radius: 0 !important;


    }