


.page-header {
    margin-top:0px;
    margin-bottom:0px;  
    padding:20px 10px 20px 10px;
}

.form-inline label{

}

.page-header h3{
    margin:0;
}

.logo {
    height:36px;
    width:36px;
}

.panel-body
{
    overflow-y: scroll;
    height:92%;
    position:relative;
}

.panel-footer{
    padding:0px 0px 0px 0px;
    position:relative; 
    bottom:0;
    right:0;
    height:8%;
    overflow:none;
    border-radius:0px 0px 0px 0px;
}

.panel-footer div {
    position:absolute;
    top:-50%;
    z-index:20;
    margin:0 auto;
    width:100%;
    border-top:#ddd; 
    opacity:0.80; 
    color:#337ab7;
}

.panel-footer div span{
    background-color:#f5f5f5;
}

.input-sm {
    resize:none;
    height:100%;
    position:absolute;
    bottom:0;
}

.user_box{
    background-color:white;
    color:auto;
    overflow:auto;
}

.user_box .btn-group{
    padding: 5px 5px 5px 5px;
    width:100%;
}

.h4{
    /*color:green;*/
}

#roompath{
    width:60%;
}

.chat-area {
    margin-right:0px;
    background-color: white;
}

.chat-area, .chat-container, .userlist-container, .user_box{
    height:600px;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.modal-body{
    background-color:#FDFFFC;
    color:white;
    height:auto;
}

.modal-body .h3 {
    color: auto;
}

.modal-body .input-group{
    width:75%;
    margin:auto; 
    margin-top:50px;
    padding-bottom: 40px;
}



/* MARIA CHANGES */

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #FDFFFC;
    background:url(../assets/blurbg_3.jpg) no-repeat fixed top;
    background-size:cover;
}

.navbar-default {
    background-color: #FDFFFC;
}


#enterName {
    text-align: center;
}

#modalInput {
    height: 50px;
    background-color: rgba(255,255,255,0.6) !important;
    margin-right: 0;
    padding-right: 0;
}

.modal-header {
    background-color: rgba(0,153,76,0.8);
}



.EnterRoom {
    height: 50px;

    /*width: 100px !important;*/
    background-color: rgba(0,153,76,0.8) !important;
}


#nameModal {
    /*backdrop modal color*/
    background-color: rgba(16, 37, 11, 0.4);
}

