

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: "Montserrat";
	font-weight: bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}

body{
	font-family: "Montserrat", sans-serif;
	background-color: #FDFFFC;
}

.bgCol{
	position:relative;
	padding:15px;
}


.background-image{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url(../assets/jumbo_pic.jpg) no-repeat fixed top;
	background-size:cover;
	z-index:1;
	-webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);	
}

.jumbocontent {
	position:relative;
	z-index:2;
	color:#333300;
}

.jumbo-p {
	text-align: center;
	 line-height: 150%;
	 color:#333300;
}

#parbox {
	padding: 20px 0 20px 0;

}

#mkchat{
	font-size: 65px;
}

.logo {
height: 65px;
width: 65px;
}

.createNewRoom {
	margin:20px;
	background-color: rgba(0,153,76,0.8) !important;
	/*border:4px solid rgba(0,153,76,0.7);*/
}

.invite{
	margin:20px;
	height: 50px;
	width: 450px !important;
	margin:20px auto;
	
}

.invite input {
	height: 50px;
	background-color: rgba(255,255,255,0.6) !important;
	margin-right: 0;
	padding-right: 0;
}

.enter {
	height: 50px;
	width: 100px !important;
	background-color: rgba(0,153,76,0.8) !important;
}

input[type=text]:focus {
  box-shadow: 0 0 2px rgba(255, 250, 204, 1);
  border: 1px solid rgba(255, 250, 204, 1);
}

.main-content {
	margin: 30px;
	color:#4A584D;
}

#magic {
	color:#4EA96F;
	font-size: 150px;
	display: inline-block;
	margin-top: 30px;
}

#lock {
	color:#4EA96F;
	font-size: 160px;
	display: inline-block;
	margin-top: 30px;
}

hr{
	margin-bottom: 20px;
}

footer {
	color:#4A584D;
	margin-top:60px;
	height: 50px;
	font-size: 15px;
	line-height: 20px;
}


/*=============== MEDIA QUERIES =====================*/

@media(max-width: 1200px){
	/*body{
		display:none;
	}*/
}

@media(max-width: 991px){
	/*body{
		display:none;
	}*/
}

@media(min-width: 768px) and (max-width: 990px){
	/*body{
		display:none;
	}
	*/
}


@media(min-width: 500px) and (max-width: 768px){
	/*body{
		display:none;
	}*/

	#parbox{
		background-color: rgba(255,255,255,0.6);
	}
}

@media(max-width: 500px){
	/*body{
		display:none;
	}*/

	#parbox{
		background-color: rgba(255,255,255,0.7);
		border: 0px solid;
		border-radius: 7px;
	}

	.invite {
		width: 280px !important;
	}

	.copyroomurl[placeholder] {
		font-size: 8px;
		color:black !important;
		padding-left: 3px !important;
	}

	.invite {
		height: 45px;
	}

	.invite input {
		height: 45px;
		color:black !important;
	}

	.invite input[type=text] {
		/*padding-left: 3px !important;*/
		color:black !important;
	}

	.enter {
		height: 45px;
		width: 75px !important;
		background-color: rgba(0,153,76,0.8) !important;
		font-size: 13px;
		/*padding-right: 5px;*/
		
	}



	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:black !important;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:black;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:black;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:black;
	}
	:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	  color:black !important;
	}

}

@media(max-width: 320px){
	/*body{
		display:none;
	}*/

	#parbox{
		background-color: rgba(255,255,255,0.7);
		border: 0px solid;
		border-radius: 7px;
	}

	.invite {
		width: 250px !important;
	}

	.copyroomurl[placeholder] {
		font-size: 8px;
		color:black !important;
		padding-left: 3px !important;
	}

	.invite {
		height: 45px;
	}

	.invite input {
		height: 45px;
		color:black !important;
	}

	.invite input[type=text] {
		/*padding-left: 3px !important;*/
		color:black !important;
	}

	.enter {
		height: 45px;
		width: 70px !important;
		background-color: rgba(0,153,76,0.8) !important;
		font-size: 13px;
		/*padding-right: 5px;*/
		
	}



	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:black !important;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:black;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:black;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:black;
	}
	:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	  color:black !important;
	}
}