body{
background-color: #FDFFFC;
}
.h1 {
color:black;
}
.main-content {
/*background-color:gray;*/
height:200px;
padding-top:15px;
margin-bottom: 40px;
}
.main-content p {
font-size: 20px;
}
.main-content .input-group {
width:35%;
margin:auto;
margin-top:20px;
}
.main-content .btn-lg {
margin-top: 10px;
}
.info-title{
margin-left: 20px;
margin-bottom: 20px;
margin-top: 15px;
}
.info-content{
margin-bottom: 20px;
}
.logo {
height: 36px;
width: 36px;
}
.priv-img{
height: 128px;
margin-top: 35px;
}


/* Maria Changes*/
input {
	background-color: rgba(255,255,255,0.5) !important;
}

.jumbotron {
	background: url(../assets/jumbo_pic.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



